/*
* This configuration file is the one used when indicating the Nextflow parameter -profile awsbatch_spot
*/

//region where we want to run this in
aws.region = 'ap-southeast-2'

//restrict the number of parallel downloads in an attempt to prevent the docker timeout error
aws.batch.maxParallelTransfers = 5

//path to the aws cli tool
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

//specify the S3 work directory
workDir = '/path/to/s3/bucket/'

//spot instance retries
aws.batch.maxSpotAttempts = 3

// Reporting configuration

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}


// per process configurations

process {
    // definition of the awsbatch executor. Run the pipeline in a AWS node able to submit jobs via batch submission
    executor = 'awsbatch'

    withName: 'CUTADAPT_TRIMMING' {
        container = 'public.ecr.aws/biocontainers/cutadapt:4.4--py39hf95cd2a_1'
        cpus = 2
        memory = 2.GB
    }

    withName: 'CUTADAPT_DEMULTIPLEX' {
        container = 'public.ecr.aws/biocontainers/cutadapt:4.4--py39hf95cd2a_1'
        cpus = 2
        memory = 4.GB
    }

    withName: 'FASTP' {
        container = 'public.ecr.aws/biocontainers/fastp:0.23.4--h5f740d0_0'
        cpus = 3
        memory = 4.GB
    }

    withName: 'FASTQC' {
        container = 'public.ecr.aws/biocontainers/fastqc:0.11.9--0'
        cpus = 4
        memory = 4.GB
    }

    withName: 'MULTIQC' {
        container = 'public.ecr.aws/biocontainers/multiqc:1.13--pyhdfd78af_0'
        cpus = 1
        memory = 2.GB
    }

    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        container = 'public.ecr.aws/biocontainers/multiqc:1.13--pyhdfd78af_0'
        cpus = 1
        memory = 2.GB
    }
}

