/*
* This configuration file is for local runs
*/

docker {
    runOptions= "-v $HOME:$HOME"
    enabled = true
}

executor {
    name = 'local'
    cpus   = 8
    memory = '20GB'
}



process {

    withName: 'CUTADAPT_DEMULTIPLEX' {
        container = 'quay.io/biocontainers/cutadapt:4.4--py39hf95cd2a_1'
        cpus = 1
        memory = 4.GB
    }

    withName: 'FASTP' {
        container = 'quay.io/biocontainers/fastp:0.20.1--h8b12597_0'
        cpus = 3
        memory = 4.GB
    }

    withName: 'FASTQC' {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
        cpus = 4
        memory = 8.GB
    }

    withName: 'MULTIQC' {
        container = 'quay.io/biocontainers/multiqc:1.13--pyhdfd78af_0'
        cpus = 1
        memory = 2.GB
    }

    withName: 'SABRE' {
        container = 'quay.io/biocontainers/sabre:1.000--hed695b0_1'
        cpus = 1
        memory = 2.GB
    }

    withName: 'AWK_SABREKEYFILE' {
        container = 'quay.io/biocontainers/gawk:5.1.0'
        cpus = 1
        memory = 2.GB
    }

    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        container = 'quay.io/biocontainers/multiqc:1.15--pyhdfd78af_0'
        cpus = 1
        memory = 2.GB
    }
}

